/* @ Серёгин сброс стилей @ */

body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,abbr{border:0;}address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}ul li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}

:-ms-input-placeholder{color:#757575;}
:-webkit-input-placeholder{color:#757575;}

html, body{height:100%; font-family:OpenSans-Regular, Arial; font-size:15px; color:#000;}
a{text-decoration:none; outline:none;}
a img{border:none; outline:none;}
ul{list-style:none;}
p{margin:0 0 14px;}

/* End of @ Серёгин сброс стилей @ */

/* @ Полезные мелочи @ */

.clear{clear: both;}

/* End of @Полезные мелочи @ */

/* @ базовая разметка @ */

#wrapper{width: 100%; height: 100%; position: relative;}
.line{width: 100%;}
.wrapper{max-width: 920px; margin: 0 auto; height: 100%; overflow: hidden; position: relative; padding: 0 20px;}
span.h3{display: inline-block; font-size: 18px; padding: 10px 0;}

/* @ End of базовая разметка @ */

.header{height: 140px; background: #0D759D;}
.menu{height: 50px; background: #044B66;}
.content{min-height: 675px; }
.footer{height: 50px; background: #044B66;}

header{color: #fff;}
header .logo{width: 140px; height: 100px; background: url(img/logo.png) center no-repeat; background-size: 100%; margin-top: 20px;}
header .slogan{position: absolute; left: 170px; top: 30px;}
header .slogan .title{font-size: 30px; padding: 10px 0;}
header .slogan .subtitle{font-size: 16px; font-style: italic;}
header .phone{font-size: 25px; position: absolute; right: 20px; top: 30px;}

header nav a{color: inherit;}
header nav ul li{display: inline-block; height: 50px; line-height: 50px; font-size: 14px; margin: 0 20px;}
header nav ul li.active{color: #ff0;}
header nav .show_menu{display: none;}

.content .stars{margin: 10px auto;}
.content .stars .item{float: left; width: 200px; height: 200px; margin: 10px 10px; text-align: center;
					 background: url(img/item.png) center no-repeat; background-size: 100%;}
.content .stars .item .text{font-size: 26px; line-height: 40px; padding-top: 54px;}

.content aside{width: 25%; float: left; margin-right: 20px; padding-left: 10px;}
.content .right{overflow: hidden;}

footer{color: #fff;}
footer .copy{line-height: 50px;}

@media screen and (max-width: 1024px){
	header nav ul{text-align: center;}
	.content .stars{max-width: 440px;}
	.content aside{float: none; width: auto; max-width: 500px; min-width: 340px; margin: 0 auto;}
	.content aside .col{margin: 5px;}
	.content aside .col.fl-l{float: left;}
	.content aside .col.fl-r{float: right;}
	footer{text-align: center;}
}

@media screen and (max-width: 580px){
	.header{height: auto; min-height:160px;}
	header .logo{margin: 10px auto;}
	header .slogan{position: static; text-align: center;}
	header .phone{position: static; text-align: center; padding: 10px 0;}
	header .menu{height: auto;}
	header nav ul{display: none;}
	header nav ul li{display: block;}
	header nav .show_menu{display: block; line-height: 50px; font-size: 14px; 
					   text-align: center; cursor: pointer;}
}

@media screen and (max-width: 490px){
	.content .stars{max-width: 220px;}
	.footer{height: auto; padding: 5px 0;}
	footer span.copy{line-height: 30px;}
}

@media screen and (max-width: 390px){
	.content aside .col.fl-l, .content aside .col.fl-r{float: none;}
}